name: Build and Push Docker Image

on:
  workflow_dispatch:
  
jobs:
  build-image:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      pull-requests: write
      attestations: write
      id-token: write
    strategy:
      matrix:
        python-version: [ "3.10"]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to the GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: lowercase github.repository
      run: |
        echo "IMAGE_NAME=`echo ${{github.repository}} | tr '[:upper:]' '[:lower:]'`" >>${GITHUB_ENV}
    
    - name: Set version to 'latest'
      run: |
        echo "VERSION=latest" >> $GITHUB_ENV

    # Build Docker image with a custom Python version
    - name: Build Docker image (Python ${{ matrix.python-version }})
      run: |
        DOCKER_BUILDKIT=1 docker build \
        --build-arg PYTHON_VERSION=${{ matrix.python-version }} \
        -t ghcr.io/${{ env.IMAGE_NAME }}/mlproject-python-${{ matrix.python-version }}:${{ env.VERSION }} .
   # Push Docker image to GHCR
    - name: Push Docker image to GHCR (Python ${{ matrix.python-version }})
      run: |
        docker push ghcr.io/${{ env.IMAGE_NAME }}/mlproject-python-${{ matrix.python-version }}:${{ env.VERSION }}
