name: Build Docs

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:

jobs:
  docs:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read   # REQUIRED for ghcr

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Sphinx docs
        run: |
            docker run --rm \
            -v ${{ github.workspace }}:/docs \
            -w /docs \
            ghcr.io/digimatchem/paper-ml-with-lobster-descriptors/mlproject-python-3.10:latest \
            micromamba run -n ml_env \
            sphinx-build -W docs _build
