name: Build Docs

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:

jobs:
  docs:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Sphinx docs
        run: |
            docker run --rm \
            -v ${{ github.workspace }}:/docs \
            -w /docs \
            --user "$(id -u):$(id -g)" \
            ghcr.io/digimatchem/paper-ml-with-lobster-descriptors/mlproject-python-3.10:latest \
            bash -c "
            cp -r notebooks/misc/*.ipynb docs/misc/ && \
            cp -r notebooks/ml_scripts/training/*.ipynb docs/training/ && \
            cp -r notebooks/ml_scripts/correlation_analysis/*.ipynb docs/correlation_analysis/ && \
            cp -r notebooks/ml_scripts/explainer/*.ipynb docs/explainer/ && \
            cp -r notebooks/ml_scripts/feature_selector/*.ipynb docs/feature_selector/ && \
            cp -r notebooks/ml_scripts/corrected_resampled_t_test/*.ipynb docs/t_test/ && \
            cp -r notebooks/targets/Elasticity/*.ipynb docs/targets/Elasticity/ && \
            cp -r notebooks/targets/Lattice_thermal_conductivity/*.ipynb docs/targets/Lattice_thermal_conductivity/ && \
            cp -r notebooks/targets/Vibrational_and_thermodynamic_properties/*.ipynb docs/targets/Vibrational_and_thermodynamic_properties/ && \
            micromamba run -n ml_env pip install . && \
            micromamba run -n ml_env sphinx-build -W docs _build
            "

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _build/
          force_orphan: true
