name: Clean git container registry

on:
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: ghcr.io cleanup action
        uses: dataaxiom/ghcr-cleanup-action@v1
        with:
          packages: paper-ml-with-lobster-descriptors/mlproject-python-3.10
          token: ${{ secrets.GITHUB_TOKEN }}
