# This uses docker image with required dependencies, run tests with Python 3.10
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Testing Linux

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: read

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]
        split: [1]  #[1, 2, 3, 4, 5]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Fetch the entire Git history

    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Run tests using Docker image for Python ${{ matrix.python-version }}
      run: |
        docker run --rm \
          -v ${{ github.workspace }}:/workspace \
          -w /workspace \
          --user "$(id -u):$(id -g)" \
          ghcr.io/digimatchem/paper-ml-with-lobster-descriptors/mlproject-python-3.10:latest \
          micromamba run -n ml_env pip install . && \
          micromamba run -n ml_env pytest --cache-clear --cov=mlproject --cov-report term-missing --cov-append --splits 1 --group ${{ matrix.split }} -vv --durations-path /workspace/tests/test_data/.pytest-split-durations --store-durations